@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}


.left {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  -webkit-animation-name: left;
  animation-name: left;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  margin-top: -50px;

}

#right {
  flex: 1;
  background-color: black;
  transition: 1s;
  /* background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.segurtelgps.com%2F&psig=AOvVaw2ESq5dX3fyISLrC2wCdxF6&ust=1676240792887000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCNCJpNnBjv0CFQAAAAAdAAAAABAZ); 
  background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center center;
}

#right:before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: rgba(38, 116, 212, 0.6);
}

/* Mensaje de alerta */
.alert {
  padding: 15px 10px;
  background-color: #f44336;
  /* Red */
  color: white;
  margin-bottom: 15px;
  max-width: 380px;
  width: 100%;
  display: none;
  border-radius: 20px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.header>h2 {
  margin: 0;
  color: #535699;
  text-align: center;
}

.header>p {
  margin-top: 10px;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5;
  text-align: justify;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.input-field {
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #8889ad;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #8889ad;
}


.div-btn-ingresar {
  display: flex;
  width: 100%;
  justify-content: center;
}

.input-field input::placeholder {
  color: #a3a3cf;
  font-weight: 700;
}

.btn {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 48px;
  cursor: pointer;
  background-color: #535699;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: all 0.5s;
}

.btn:hover {
  background-color: #3d3f6b;
}




.animation {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animation.title {
  text-align: center;
  color: #535699;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

.a1 {
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}

.a2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.a3 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.a4 {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.a5 {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.a6 {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 500px;
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 500px;
  }
}

.fa-eye {
  cursor: pointer;
}


/* Ventana de carga loader */

.hidden-loader {
  height: 100vh;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(155, 155, 155, 0.24);
}

.hidden-loader img {
  width: 80px;
}

/* Ventana de carga loader */