{% extends 'layout.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/monitoreo.css') }}">
{% endblock %}
{% block body %}
<main class="h-full pb-16 overflow-y-auto w-full">
    <div class="contenedor-principal grid px-6  w-full">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Monitoreo de rutinas
        </h2>
        <div class="w-full shadow-md ">
            <div class="flex gap-3 mb-4">
                {% for clave in datarutinas.keys(): %}
                <button data-ruta="{{clave}}"
                    class="ruta-btn bg-amber-500 hover:bg-amber-600 text-white font-bold py-2 px-4 rounded-lg">
                    {{clave}}
                </button>
                {% endfor %}
            </div>
            <div id="tablas-container" class="tablas-container w-full">
                {% for ruta, rutinas in datarutinas.items() %}
                <div id="ruta-{{ ruta }}" class="ruta-tabla">
                    <table class="table-extremos">
                        <!-- contenido de la tabla -->
                        <thead>
                            <tr>
                                <th class="th-distint">
                                    Placa
                                </th>
                            </tr>
                            <tr>
                                <th class="text-invisible">Hoificada</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rutina in rutinas %}
                            <tr>
                                <td> {{rutina.placa}} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="paradas-container">
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                    <tr>
                                        {% for parada in rutinas[1].rutinaparadas %}
                                        {% set truncated_parada = parada.parada[:20] + '...' %}
                                        <th colspan="3" title="{{ parada.parada }}">{{ truncated_parada }}</th>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        {% for parada in rutinas[1].rutinaparadas %}
                                        <th>HPlanificada</th>
                                        <th>HEjecutada</th>
                                        <th>Min</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rutina in rutinas %}
                                    <tr>
                                        {% for parada in rutina.rutinaparadas %}
                                        <td>{{parada.horaplanificada }}</td>
                                        <td>{{parada.horaejecutada }}</td>
                                        <td>
                                            {% if parada.min == 9999 %}
                                            -
                                            {% else %}
                                            {{parada.min}}
                                            {% endif %}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <table class="table-extremos">
                        <thead>

                            <tr>
                                <th colspan="2">
                                    Minutos
                                </th>
                            </tr>
                            <tr>
                                <th>Adelantados</th>
                                <th>Atrasados</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rutina in rutinas %}
                            <tr>
                                <td> {{rutina.adelantadostotal}} </td>
                                <td> {{rutina.atrasadostotal}} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='js/monitoreo.js') }}" defer></script>
{% endblock %}