{% extends 'layout.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rutinas.css') }}">
{% endblock %}
{% block body %}

<main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-6 mx-auto">
        <div class="w-full flex justify-between items-center">
            <span class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                Rutinas
            </span>
            <button id="crear-rutina-btn"
                class="bg-amber-500 hover:bg-amber-600 text-white font-bold py-2 px-4 rounded-lg btn-crear-ruta">Crear
                rutina</button>
        </div>
        <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="container-lista-rutinas w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                    <thead>
                        <tr
                            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                            <th class="px-4 py-3">Ruta</th>
                            <th class="px-4 py-3">Placa</th>
                            <th class="px-4 py-3">Fecha</th>
                            <th class="px-4 py-3">Rutina</th>
                            <th class="px-4 py-3" style="width: 80px;">Detalle paradas</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                        {% for rutina in datarutinas %}
                        <tr class="text-gray-700 dark:text-gray-400">
                            <td class="px-4 py-3">
                                <div class="flex items-center text-sm">
                                    <!-- Avatar with inset shadow -->
                                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                        <img class="object-contain w-full h-full rounded-lg"
                                            src="https://cdn-icons-png.flaticon.com/512/3061/3061744.png" alt=""
                                            loading="lazy" />
                                        <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true">
                                        </div>
                                    </div>
                                    <div>
                                        <p class="font-semibold">{{ rutina.ruta}}</p>
                                    </div>
                                </div>
                            </td>
                            <td class="px-4 py-3 text-sm">
                                {{ rutina.placa}}
                            </td>
                            <td class="px-4 py-3 text-sm">
                                    {{ rutina.fecha}}

                            </td>
                            <td class="px-4 py-3 text-sm">
                                {{ rutina.rutina}}
                            </td>
                            <td class="px-4 py-3">
                                <div class="flex items-center space-x-4 text-sm">
                                    <button
                                        class="ver-detalle-paradas flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray hover:text-green-800"
                                        aria-label="Ver más" data-rutina-id="{{ rutina.ruta}}" data-rutina-details="{{ rutina.rutina}}">
                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/rutinas.js') }}" defer></script>
</main>

{% endblock %}